@import "bootstrap";

html, body {
  /* min-height: 100%; */
  overflow-y: scroll; /* Show vertical scrollbar */
}

main.user, div.user {
  padding-top: 60px;
}

.bg-brand {
  --bs-bg-opacity: 1;
  @if variable-exists(brand-color) {
    background-color: $brand-color !important; // brand-color is defined from webpack
  } @else {
    background-color: #0f5132 !important;
  }
}

