{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {#  <meta name="turbo-visit-control" content="reload"> #}
{% endblock %}

{% block content %}
    <div class="container">
        b: {{ backends }}
        {% for backend in backends %}
            <a class="btn btn-sm btn-primary"
               href="{{ request.url_for("authorize_url", backend=backend) }}">{{ backend }}</a>
        {% endfor %}

    </div>
{% endblock %}
